<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>Sirius{% block title %}{% endblock %}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles.css">
    {% endblock %}
  </head>
  <body>

    <div class="wrap container">
    {% block body %}{% endblock %}
    </div>

    {% block scripts %}{% endblock %}

  </body>
</html>
