{% extends "layout.html" %}

{% block body %}
    <div class="projects">
        <header class="page-header">
            <h2 class="page-header">Projects</h2>
            <p>Listed below are the projects managed by Sirius.</p>
            <button class="pure-button pure-button-primary" id="create-project-btn">New Project</button>
        </header>

        {% if projects %}
            No projects yet.
        {% else %}
            {% for project in projects %}
            <div class="project">
                <h3><a href="/a/{{project.key.id()}}">{{project.name}}</a></h3>
                <p>{{project.desc}}</p>
            </div>
            {% endfor %}
        {% endif %}
    </div>

    <div id="create-project" class="modal">
        <h2>Create a Project</h2>
        <form action="/projects" method="post" class="pure-form pure-form-stacked">
            <p>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="form-control" required>
            </p>
            <p>
                <label for="url">URL</label>
                <input type="url" name="url" id="url" class="form-control" required>
            </p>
            <p>
                <label for="desc">Description</label>
                <textarea name="desc" id="desc" cols="30" rows="2" class="form-control"></textarea>
            </p>
            <button class="pure-button pure-button-primary">Add Project</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script src="/assets/projects.js"></script>
{% endblock %}