body {
    color: #111;
    font-family: sans-serif;
}

/* Forms */
label {
    font-weight: bold;
}

/* Layout */
.wrap {
    margin-left: auto;
    margin-right: auto;
}

/* Project */
.project-section {
    margin-bottom: 30px;
}

.project-actions {
    text-align: right;
}