/* Main Styles */

body {
    color: #333;
    line-height: 1.6;
}

label {
  display: block;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

.main-header .pure-menu {
    margin-left: -1rem;
}

/* Integrations */
.add-integration-form select {
    margin-right: 10px;
    width: 200px;
}

.integration {
  margin: 2rem 0;
}

.integration-form-group input {
    width: 400px;
}

.integration-form-group input[readonly] {
    background-color: #fff;
}

.integration-actions {
  list-style-type: none;
  padding: 0;
}

.integration-actions li {
  display: inline-block;
  margin-right: 5px;
}

.integration-actions li a {
  font-size: smaller;
}