/* Main Styles */

body {
    color: #333;
    line-height: 1.6;
}

a {
    color: #0078e7;
}

a:hover {
    color: #1f8dd6;
}

label {
  display: block;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

.main-header .pure-menu {
    margin-left: -1rem;
}

/* Forms */
label {
    font-weight: bold;
}

label input,
label textarea,
label select {
    font-weight: normal;
}

/* Buttons */
.pure-button:hover {
    color: #444;
}

.pure-button.pure-button-primary:hover {
    color: #fff;
}

.pure-button-link, .pure-button-link:focus {
    background: none;
    color: #0078e7;
}

.pure-button-link:hover {
    background: none;
    color: #e91e63;
    text-decoration: underline;
}

/* Page Header */
.page-header  {
    margin-bottom: 30px;
}

.page-header h2 {
    margin-bottom: 0;
}

.page-header p {
    margin-top: 5px;
}

/* Integrations */
.add-integration-form select {
    margin-right: 10px;
    width: 200px;
}

.integration {
  margin: 2rem 0;
}

.integration-form-group input {
    width: 400px;
}

.integration-form-group input[readonly] {
    background-color: #fff;
}

.integration-actions {
  list-style-type: none;
  padding: 0;
}

.integration-actions li {
  display: inline-block;
  margin-right: 5px;
}

.integration-actions li a {
  font-size: smaller;
}

/* Contracts */
.contracts-list {
    margin-top: 30px;
}

.contract {
    border: 1px solid #ccc;
    padding: 15px 0;
}

.contract fieldset,
.contract .invoice-input,
.contract .invoice-input-util,
.contract .contract-form-actions {
    display: none;
}

.contract.editing fieldset,
.contract.editing .contract-form-actions {
    display: block;
}

.contract.editing .invoice-input,
.contract.editing .invoice-input-util {
    display: table-cell;
}

.contract.editing .contract-header,
.contract.editing .invoice-display,
.contract.editing .contract-actions {
    display: none;
}

.contract input,
.contract textarea {
    width: 100%;
}

.contract-header,
.contract-actions,
.contract-form-actions {
    margin: 15px;
}

.contract-header {
    margin-top: 0;
}

.contract-name {
    margin-top: 0;
}

.contract-meta,
.contract-actions,
.contract-form-actions {
    list-style-type: none;
    padding: 0;
}

.contract-meta li,
.contract-actions li,
.contract-form-actions li {
    display: inline-block;
    margin-right: 15px;
}

.contract-meta li {
    color: #777;
    font-size: smaller;
}

.contract-table {
    border-left: none;
    border-right: none;
    margin: 15px 0;
    width: 100%;
}

.contract-table tbody th {
    text-align: left;
}

.contract-table tbody tr:hover .contract-invoice-action {
    visibility: visible;
}

.contract-invoice-action {
    font-size: smaller;
    font-weight: normal;
    visibility: hidden;
}

.contract-total {
    color: #777;
    text-align: right;
}

.contract fieldset {
    padding: 0 15px;
}

/* Files */
.files-table {
    margin-top: 15px;
    width: 100%;
}

.files-table .cb-col {
    text-align: center;
    width: 15px;
}

.upload-form {
    position: relative;
}

.upload-form-input {
    display: block;
    height: 34px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 120px;
    z-index: 1;
}